* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding-inline: 50px;
    padding-top: 20px;
    background-color: #fdbe33;
    padding-bottom: 30px;
}


.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container h1 {
    font-size: 50px;
}

.header-item {
    display: flex;
    gap: 10px;
}

nav {
    padding-inline: 40px;
    background-color: black;
    margin: 0 auto;
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style: none;
    gap: 30px;
}

a {
    color: white;
    text-decoration: none;
}

nav button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 1s;
}

nav button:hover {
    color: black;
    background-color: #fdbe33;
    border-color: #fdbe33;
}

.jes{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-size: 20px;

}
.rem{
    margin-top: 2px;
    border-top: 2px solid black;
    width: 80px;
    margin: 0 auto;
}
.wed{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.you{
 display: flex;
    justify-content: center;
    color: #fdbe33;
    margin-top: 80px;
    font-size: 20px;

}

.mi{
    display: flex;
    justify-content: center;

}

.oni{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.repper {
    background-color: darkblue;
    padding: 20px;

}

.temi{
    color: #fdbe33;
    border-bottom: 2px solid #fdbe33;
}

.malia{
    align-items: center;
    display: flex;
}
footer{
background-color: blue;
margin-top: 60px;

}
.scoot{
display: flex;


}
.stylis{
    display: flex;
    justify-content: space-between; 
    margin-inline: 40px;
}
@media (max-width: 991px) {
    .header-item {
        display: none;
    }

    .header-container h1 {
        width: 100%;
        text-align: center;
    }
}
